doctype html
html(lang="en")
    head
        title Test gulp
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
        //link(rel="stylesheet" href="...")
    body
        //include header

        button.button Button

        //div.card
        //    .card-title
        //        p title
        //    .card-content
        //        h3.sub-title sub title
        //        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam architecto, eius exercitationem ipsam itaque maiores mollitia nam nemo nobis odit pariatur, quisquam quod, repellat similique sit tenetur unde.
        //        a(href="#") Link
        //hr
        //div.card
        //    .card-title
        //        p title
        //    .card-content
        //        h3.sub-title sub title
        //        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam architecto, eius exercitationem ipsam itaque maiores mollitia nam nemo nobis odit pariatur, quisquam quod, repellat similique sit tenetur unde.
        //        a(href="#") Link
        //hr
        //div.card
        //    .card-title
        //        p title
        //    .card-content
        //        h3.sub-title sub title
        //        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam architecto, eius exercitationem ipsam itaque maiores mollitia nam nemo nobis odit pariatur, quisquam quod, repellat similique sit tenetur unde.
        //        a(href="#") Link